@import './theme/variables.less';
@import './normalize.less';
@import './scrollbar.less';
@import './markdown.less';
@import 'katex/dist/katex.min.css';
@import './reset.less';


::selection {
    color: #000;
    background: #ffef5c;
    -webkit-text-fill-color: unset !important;
}
